/* Constantes de colores y propiedades */
:root {
  --primary-color: #EC7425;
  --secundary-color: #23428A;
  --text-main-color: #2e2e2e;
  --text-gray-color: #8e8e8e;
  --bg-main-color: #f5f5f5;
}

/* Importamos la fuente de la aplicación */
@font-face {
  font-family: Monserrat;
  src: url('../public/fonts/monserrat_variable.ttf') format('truetype'); 
}

/* Incluimos la fuente en la aplicacion */
html, body {
  font-family: Monserrat, sans-serif;
}

/* Color del fondo principal, especificamos una altura total de la pantalla */
.bg-main{
    background: var(--bg-main-color);    
    height: 100vh;
}

/* Imagen de login */
.bg-login-img{
    height: 100vh;
    background-image: url('../public/media/background_2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Fondo blanco */
.bg-white{
    background: #ffffff !important;
}

/* Loading global */
.loading-global-container{
    text-align: center;
    margin: 0 auto;
    margin-top: 40vh;
}

/* Estilo boton */
.btn_big{
  height: 56px !important;
}

/* Estilo del sidebar */
.item-menu{
    margin: 10px 10px 0px 10px !important;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    vertical-align: middle;
    color: var(--text-main-color) !important;
}
.item-menu:first-of-type{
    margin: 15px 10px 0px 10px !important;
}

.item-menu p{
    display: inline-block;
    margin: 0px;
    vertical-align: super;
    font-weight: 500;  
}

.item-menu svg{
  margin-right: 10px;
}
.item-menu:hover{
    background: #ffeadc;
}
.item-menu.active{
  background: var(--primary-color);
  color: #ffffff !important;
}

.item-menu.inactive{

}

/* Estilo del app bar */
.app-bar{
  background: #ffffff !important;
  color: var(--text-main-color) !important;
}

.app-bar-logo{
  height: 50px;
}

.app-bar-menu-icon{
  padding: 15px !important;
}

.app-bar-datos{
  text-align: right;
  padding: 10px;
}

.app-bar-datos p{
    margin: 0px;
    color: var(--text-main-color);
}


.app-bar-datos span{
    color: var(--text-gray-color);
    font-size: 14px;
}

.app-bar-avatar{

}

/*Estilos de la página*/
.page-tittle{
  margin: 0px;
  color: var(--text-main-color);
}

.box-form-head{
    border-bottom: 1px solid #e0e0e0;
}

.box-form-head-title{
  color: var(--text-main-color);
}

.box-form-body-subtitle{
  color: var(--text-gray-color);
  margin-bottom: 10px !important;
  font-weight: 500;
}

.input-search{
  border-radius: 40px !important;
  padding-left: 10px !important;
  width: 100%;
  max-width: 350px;
}

.table-cell-img{
  justify-content: center;
  display: flex !important;
}

.table-head-row{
    background: #e2e2e2;
}

.table-cell-sort{
    font-weight: 600 !important;
    color: #ffffff !important;
    background: var(--primary-color) !important;
    cursor: pointer;
}

.table-cell-sort:hover{
    color: #863c0a !important;
}

.table-cell-sort svg{
  vertical-align: middle !important;
  margin-left: 5px;

}

.paginator-total{
  padding: 0px 10px;
  color: var(--text-main-color);
}

.div-table-scroll{
    width: 55vw;
    overflow: auto;
    min-width: 100%;
}

tr:nth-child(even) { background-color: #f7f7f7; }
tr:nth-child(odd) { background-color: #ffffff; }

.MuiTableRow-hover:hover {
    background-color: #96c7fe21 !important;
}

.alumno_home_img_box img{
  height: 150px;
  max-width: 100%;
}
.alumno_home_img_box a{
  color: var(--text-gray-color);
  text-decoration: none;
}

.alumno_home_qr{
  text-align: center;
}

.alumno_home_qr img{ 
  height: 450px;
  border-radius: 30px;
}

.alumno_home_mensaje{
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.img-preview-wrapper{
    width: 150px;
    height: 150px;
}

.img-preview-wrapper img{
      border: 5px solid #c0c0c04d;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}


.box-shadow-app{
  box-shadow: rgba(223, 226, 231, 0.6) 0px 4px 8px;
}