/* Estilos del login */
.App-logo-login {
  height: 100px;
  pointer-events: none;
    margin-bottom: 50px;
}

.box-login{
    text-align: center;
    width: 450px;
    margin-bottom: 100px;
    padding: 50px 30px;
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(223, 226, 231, 0.6) 0px 4px 8px;
}